<h1>Showing selected product</h1>

<p>
    Title: <%= @product.title %>
</p>
<p>
    Description: <%= @product.description %>
</p>
<p>
    Price: <%= @product.price %>
</p>
<p>
    Make: <%= @product.make %>
</p>

<%= link_to "Edit this product", edit_product_path(@product) %> |
<%= link_to "Back to products listing", products_path %>